######################  온도센서 #######################################
####                  온도 항목 노출                              ######
########################################################################
#[temperature_sensor raspberry_pi] 
#sensor_type: temperature_host
#min_temp: 5
#max_temp: 100
#gcode_id: PI


##############  제거해야 팬컨트롤 됨 ( 온도만 표시할려면 활성화 ) 후 펜컨트롤꺼야 함!!! ##############
#[temperature_sensor mcu]    
#sensor_type: temperature_mcu
#sensor_mcu: mcu
#min_temp: -10
#max_temp: 80

#[temperature_sensor mcu_z]
#sensor_type: temperature_mcu
#sensor_mcu: z
#min_temp: -10
#max_temp: 80


#####################################################################
#	Mcu & Driver Temperature
#####################################################################
[temperature_sensor sb_can_th]  #### sb_can  온도 노출 되고 위쪽에서 자동으로 펜제어 #####
sensor_type: temperature_mcu
sensor_mcu: sb_can_th
min_temp: 5
max_temp: 85

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[temperature_sensor E0_TMC2209]  # Beside the TMC2209 Chip
sensor_type: Generic 3950
sensor_pin: sb_can_th: PB1
min_temp:0
max_temp:150

############################# 쿨링 펜제어 ##############################
##  Print Cooling Fan - mcu board [ FAN0 ]Connector 파츠FAN   (mcu 보드 펜에서 사용 )
########################################################################
#[fan]
#pin: PC6
#max_power: 1.0
#kick_start_time: 0.5        # Depending on your fan, you may need to increase this value if your fan will not start
#off_below: 0.13
#cycle_time: 0.010

##  Hotend Fan - mcu board [ FAN1 ]Connector 핫엔드 FAN
#[heater_fan hotend]
#pin: PC7
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 40
#fan_speed: 1.0               # You can't PWM the delta fan unless using blue wire

## Fan - Raspberry 쿨링팬 ##  Print Cooling Fan - mcu board
[temperature_fan Raspberry] 
pin: PB15
kick_start_time: 0.8
#shutdown_speed: 0
off_below: 0.1
max_power: 1.0
sensor_type: temperature_host
control: pid
min_temp: 5
max_temp: 85
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
pid_deriv_time: 2.0
min_speed: 0.5
max_speed: 1.0
target_temp: 40


#[temperature_fan sb_can]  #### sb_can  온도 노출 되고 위쪽에서 자동으로 펜제어 #####
#pin: sb_can_th:PA4
#kick_start_time: 0.8
######shutdown_speed: 0
#off_below: 0.1
#max_power: 1.0
#sensor_type: temperature_mcu
#sensor_mcu: sb_can_th
#control: pid
#min_temp: 5
#max_temp: 85
#pid_kp: 1.0
#pid_ki: 0.5
#pid_kd: 2.0
#pid_deriv_time: 2.0
#min_speed: 0.5
#max_speed: 1.0
#target_temp: 40

[fan_generic sb_can]     #### sb_can  온도 노출 안되고 아래쪽에서 수동으로 펜제어 #####
pin: sb_can_th:PA4
max_power:1.0
shutdown_speed:0.0
cycle_time:0.010
hardware_pwm:false
kick_start_time:0.10
off_below:0.1


[gcode_macro START_FAN]
gcode:
    # Sb Can 팬을 즉시 100% 속도로 설정 (1.0 = 100%)
    SET_FAN_SPEED FAN=sb_can SPEED=1.0 
    
    # 다른 팬들도 필요하다면 여기에 추가 (예: Part Cooling Fan)
    # SET_FAN_SPEED FAN=fan SPEED=0


###  virtual_sdcard 에 아래명령도 추가해야함
#[virtual_sdcard]
#path: ~/gcode_files
#run_gcode_after_app_report: START_FAN     # Klipper가 시작된 후 START_FAN 매크로 실행

###########   사용 임시 정지 ###########

[temperature_fan mcu] 
pin: mcu:PC7
kick_start_time: 0.8
Shutdown_speed: 0
off_below: 0.1
max_power: 1.0
sensor_type: temperature_mcu
sensor_mcu: mcu
control: pid
min_temp: 5
max_temp: 85
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
pid_deriv_time: 2.0
min_speed: 0.5
max_speed: 1.0
target_temp: 40

[temperature_fan mcu_z] 
pin: z:PC7
kick_start_time: 0.8
shutdown_speed: 0
off_below: 0.1
max_power: 1.0
sensor_type: temperature_mcu
sensor_mcu: z
control: pid
min_temp: 5
max_temp: 85
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
pid_deriv_time: 2.0
min_speed: 0.5
max_speed: 1.0
target_temp: 40

#####################################################################
# FANS
#####################################################################

#[fan_generic fan0]
#pin: sb_can_th:PB6
#max_power:1.0
#shutdown_speed:0.0
#cycle_time:0.5
#hardware_pwm:false
#kick_start_time:0.10
#off_below:0.1

#[fan_generic fan1]
#pin: sb_can_th:PB5
#max_power:1.0
#shutdown_speed:0.0
#cycle_time:0.5
#hardware_pwm:false
#kick_start_time:0.10
#off_below:0.1

#[fan_generic fan2]
#pin: sb_can_th:PA4
#max_power:1.0
#shutdown_speed:0.0
#cycle_time:0.5
#hardware_pwm:false
#kick_start_time:0.10
#off_below:0.1

[fan]
pin: sb_can_th:PB0
max_power: 1.0
kick_start_time: 0.5        # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010
#tachometer_pin: sb_can_th:PB10    ####----  RPM 표시---

#[fan_generic ext_fan0]  # on the AUX board
#pin: sb_can_th:PB0
#max_power:1.0
#shutdown_speed:0.0
#cycle_time:0.5
#hardware_pwm:false
#kick_start_time:0.10
#off_below:0.1
#tachometer_pin: sb_can_th:PB10


[heater_fan hotend]
pin: sb_can_th:PB7
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 30
fan_speed: 1.0      
#tachometer_pin: sb_can_th:PA7   ###----  RPM 표시---


