[filament_switch_sensor RunoutSensor]
pause_on_runout: True
switch_pin: ^PC0   # <--- 풀업 저항 추가!
runout_gcode:
    PAUSE
    M117 Filament Runout!  # 화면에 메시지 띄우기
    # 여기에 오빠의 LED를 빨간색으로 바꾸는 매크로 넣으면 대박! ㅋㅋㅋ
insert_gcode:
    M117 Filament Inserted!
    RESUME