##################
## logo effects ##
##################
[led_effect sb_logo_luxury]
leds:
    neopixel:sb_leds (1)
autostart: true
frame_rate: 24
layers:
    gradient  0.3  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    comet  0.3  1  add (1.0, 1.0, 1.0),(0.5, 0.8, 1.0)

[led_effect sb_logo_busy]
leds:
    neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
    gradient  0.3  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    breathing 3 1 top (1,0,0)

[led_effect sb_logo_heating]
leds:
    neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
    gradient  0.3  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    breathing 3 1 top (1, 0.18, 0)

[led_effect sb_logo_homing]
leds:
    neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
    gradient  0.3  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    breathing 3 1 top (0.0, 0.6, 0.2)

[led_effect sb_logo_printing]
leds:
    neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
    gradient  0.1  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    gradient 0.3 1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

####################
## nozzle effects ##
####################
[led_effect sb_nozzle_luxury]
leds:
    neopixel:sb_leds (2,3)
autostart: true
frame_rate: 24
layers:
    gradient  0.3  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    comet  0.3  1  add (1.0, 1.0, 1.0),(0.5, 0.8, 1.0)

[led_effect sb_nozzle_heating]
leds:
    neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers:
    gradient  0.3  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    breathing 3 1 top (1, 0.18, 0)

[led_effect sb_nozzle_printing]
leds:
    neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers:
    gradient  0.1  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    static 0 0 top (1.0, 1.0, 1.0)

[led_effect sb_nozzle_fire]
leds:
    neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers:
    gradient  0.3  1  add (0.1, 0.0, 0.0),(0.0, 0.1, 0.0),(0.0, 0.0, 0.1)
    fire 45 40 add (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 0.7, 0.0),(1.0, 1.0, 1.0)

##################
## Case effects ##
##################
[led_effect tech_scanner]
leds:
    neopixel:leftcase_leds
    neopixel:rightcase_leds
autostart: false
frame_rate: 30
layers:
    strobe  20  1.5  add  (0.01, 0.02, 0.05)
    cylon  2.0  3.0  top  (1.0, 1.0, 1.0), (0.2, 0.5, 1.0)

[led_effect neon_strike]
leds:
    neopixel:leftcase_leds
    neopixel:rightcase_leds
autostart: false
frame_rate: 25
layers:
    static  0  0  add  (0.1, 0.2, 0.4)
    comet  1.5  10.0  top  (0.5, 0.8, 1.0), (0.05, 0.1, 0.3), (0,0,0)

[led_effect case_luxury_bg]
leds:
    neopixel:leftcase_leds
    neopixel:rightcase_leds
autostart: false
frame_rate: 24
layers:
    gradient 0.3 1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# 케이스 무한 왕복 (좌) - 1번 쨍함 -> 12번 흐림 파란 배경 버전
[led_effect case_luxury_left]
leds:
    neopixel:leftcase_leds
autostart: true
frame_rate: 25
layers:
    cylon  1.0  8.0  add  (0.1, 0.2, 0.4)    # 흐린 파란색
    gradient  0  1  add  (0.2, 0.4, 1.0), (0.01, 0.02, 0.1)  # 약한 파랑
    #gradient  0  1  add  (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)   # 무지게
    #cylon  1.0  8.0  top  (0.4, 0.8, 1.0) # 밝은 힌색
    breathing  5 1  top (0.6, 0.0, 0.0, 0.0)
    

# 케이스 무한 왕복 (우) - 1번 쨍함 -> 12번 흐림 파란 배경 버전
[led_effect case_luxury_right]
leds:
    neopixel:rightcase_leds
autostart: true
frame_rate: 25
layers:
    cylon  1.0  8.0  add  (0.1, 0.2, 0.4)    # 흐린 파란색
    gradient  0  1  add  (0.2, 0.4, 1.0), (0.01, 0.02, 0.1)  # 약한 파랑
    #gradient  0  1  add  (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)   # 무지게
    #cylon  1.0  8.0  top  (0.4, 0.8, 1.0) # 밝은 힌색
    breathing  5 1  top (0.6, 0.0, 0.0, 0.0)

[led_effect case_heating]
leds:
    neopixel:leftcase_leds
    neopixel:rightcase_leds
autostart: false
frame_rate: 24
layers:
    breathing 3 1 top (1, 0.18, 0)

[led_effect case_cooling]
leds:
    neopixel:leftcase_leds
    neopixel:rightcase_leds
autostart: false
frame_rate: 24
layers:
    comet 0.3 1 add (0.0, 0.0, 1.0),(0.0, 0.5, 1.0)

[led_effect case_knight_rider]
leds:
    neopixel:leftcase_leds
    neopixel:rightcase_leds
autostart: false
frame_rate: 24
layers:
    comet 1 2 add (1.0, 0.0, 0.0),(0.5, 0.0, 0.0)

[led_effect case_printing]
leds:
    neopixel:leftcase_leds
    neopixel:rightcase_leds
autostart: false
frame_rate: 24
layers:
    static 0 0 top (1.0, 1.0, 1.0)

[led_effect sb_luxury_rainbow]
leds:
    neopixel:sb_leds
autostart: false
frame_rate: 24
layers:
    gradient 0.3 1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)
    comet 0.3 1 add (1.0, 1.0, 1.0),(0.5, 0.8, 1.0)

#####################
## Status Macros   ##
#####################
[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_luxury
    SET_LED_EFFECT EFFECT=sb_nozzle_luxury
    SET_LED_EFFECT EFFECT=case_luxury_left
    SET_LED_EFFECT EFFECT=case_luxury_right

[gcode_macro status_busy]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_busy
    SET_LED_EFFECT EFFECT=sb_nozzle_luxury
    SET_LED_EFFECT EFFECT=case_cooling

[gcode_macro status_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_heating
    SET_LED_EFFECT EFFECT=sb_nozzle_fire
    SET_LED_EFFECT EFFECT=case_heating

[gcode_macro status_leveling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    SET_LED_EFFECT EFFECT=sb_nozzle_luxury
    SET_LED_EFFECT EFFECT=case_knight_rider

[gcode_macro status_homing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    SET_LED_EFFECT EFFECT=sb_nozzle_luxury
    SET_LED_EFFECT EFFECT=case_luxury_left
    SET_LED_EFFECT EFFECT=case_luxury_right

[gcode_macro status_cleaning]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_busy
    SET_LED_EFFECT EFFECT=sb_nozzle_luxury
    SET_LED_EFFECT EFFECT=case_knight_rider

[gcode_macro status_meshing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    SET_LED_EFFECT EFFECT=sb_nozzle_luxury
    SET_LED_EFFECT EFFECT=case_cooling

[gcode_macro status_calibrating_z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    SET_LED_EFFECT EFFECT=sb_nozzle_printing
    SET_LED_EFFECT EFFECT=case_cooling

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_printing
    SET_LED_EFFECT EFFECT=sb_nozzle_printing
    SET_LED_EFFECT EFFECT=case_printing