[gcode_macro PROBE_CALIBRATE]
gcode:
    CARTOGRAPHER_CALIBRATE

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    {% set TARGET_TEMP = printer.heater_bed.target %}
    M140 S0
     _BED_MESH_CALIBRATE {rawparams}
    M140 S{TARGET_TEMP}
    

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    BED_MESH_CLEAR
    {% set TARGET_TEMP = printer.heater_bed.target %}
    M140 S0
       
    {% if not printer.quad_gantry_level.applied %}
      _QUAD_GANTRY_LEVEL horizontal_move_z=10 retry_tolerance=1
    {% endif %}
    _QUAD_GANTRY_LEVEL horizontal_move_z=2
    G28 Z
    M140 S{TARGET_TEMP}
    
    RESTORE_GCODE_STATE NAME=STATE_QGL



[gcode_macro SHUTDOWN]
gcode:
  {action_call_remote_method("shutdown_machine")}

[gcode_macro REBOOT]
gcode:
  {action_call_remote_method("reboot_machine")}


#####################################################################
#  GitHub 자동 백업 매크로 (by 미나 🕵️‍♂️)
#####################################################################

[gcode_shell_command backup_cfg]
command: /usr/bin/bash /home/pi/klipper-backup/script.sh  # 스크립트 경로 확인 필요!
timeout: 30.
verbose: True

[gcode_macro BACKUP_CFG]
description: 현재 설정을 GitHub로 백업합니다.
gcode:
    RESPOND MSG="GitHub 백업을 시작합니다..."
    RUN_SHELL_COMMAND CMD=backup_cfg
    RESPOND MSG="백업 완료!"


[gcode_macro SAVE_AND_BACKUP]
description: 설정을 저장하고 즉시 백업합니다.
gcode:
    BACKUP_CFG
    SAVE_CONFIG



