########################### PSU ########################################
#   릴레이 off 로직-- 셧다운후  일정시간지나면 릴레이 오프됨(전원 off)        #
########################################################################
[output_pin Power_Detect]  
pin: !PC13
pwm: false      
value: 1                    
shutdown_value: 0

[gcode_macro PRINTER_OFF]
gcode:
    {action_call_remote_method("set_device_power",
                               device="printer",
                               state="off")}

[gcode_macro SHUTDOWN]
gcode:
  {action_call_remote_method("shutdown_machine")}

[gcode_macro REBOOT]
gcode:
  {action_call_remote_method("reboot_machine")}



[output_pin psu_24v]
type: gpio
pin: gpio21
initial_state: off                      # 라즈베리 파이 부팅 시 프린터 전원도 같이 켭니다.
off_when_shutdown: True                # 클리퍼가 셧다운되면 릴레이를 끊어 전원을 완전히 차단합니다.
on_when_job_queued: True               # 오빠가 슬라이서에서 '출력' 전송하면 전원이 꺼져있어도 자동으로 '딸깍' 켭니다.
locked_while_printing: True            # 출력 중에 실수로 전원 버튼 눌러서 700이 형님 멈추는 걸 방지합니다! (절대보호)
restart_klipper_when_powered: True     # 전원이 켜지면 자동으로 FIRMWARE_RESTART를 날려 클리퍼와 연결합니다.
restart_delay: 5                       # 전원 켜지고 안정화될 때까지 2초 기다렸다가 연결을 시도합니다.

#[gcode_macro M80]
#gcode:
#  SET_PIN PIN=psu_24v VALUE=1
#  RESPOND MSG="24V 파워 서플라이 가동!"

#[gcode_macro M81]
#gcode:
#  SET_PIN PIN=psu_24v VALUE=0
#  RESPOND MSG="24V 파워 서플라이 차단!"
  