########################### PSU ########################################
#   릴레이 off 로직-- 셧다운후  일정시간지나면 릴레이 오프됨(전원 off)        #
########################################################################
[output_pin Power_Detect]  
pin: !PC13
pwm: false      
value: 1                    
shutdown_value: 0

[gcode_macro PRINTER_OFF]
gcode:
    {action_call_remote_method("set_device_power",
                               device="printer",
                               state="off")}

[gcode_macro SHUTDOWN]
gcode:
  {action_call_remote_method("shutdown_machine")}

[gcode_macro REBOOT]
gcode:
  {action_call_remote_method("reboot_machine")}



[output_pin psu_24v]
pin: rpi:gpio21       # 라즈베리파이 GPIO 21번
#pwm: false             # 껏다 켰다만 할 거니까 false
value: 1               # 프린터 켰을 때 초기값 (0=OFF)
shutdown_value: 1      # 에러나서 꺼질 때 같이 꺼지도록 설정

[gcode_macro M80]
gcode:
  SET_PIN PIN=psu_24v VALUE=1
  RESPOND MSG="24V 파워 서플라이 가동!"

[gcode_macro M81]
gcode:
  SET_PIN PIN=psu_24v VALUE=0
  RESPOND MSG="24V 파워 서플라이 차단!"
  